@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700|Poppins:300,400,800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #fd5f5f;
  color: #fff;
}

::selection {
  background-color: #fd5f5f;
  color: #fff;
}

::-moz-selection {
  background-color: #fd5f5f;
  color: #fff;
}

::-o-selection {
  background-color: #fd5f5f;
  color: #fff;
}

::-ms-selection {
  background-color: #fd5f5f;
  color: #fff;
}

::-webkit-selection {
  background-color: #fd5f5f;
  color: #fff;
}

:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

body,
html {
  background: #fff;
  color: #2f2f2f;
  font-family: Poppins;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

section.navbar {
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

header {
  padding: 20px 40px 20px 30px;
}

header .logo img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-animation: fadeInDown 0.8s;
          animation: fadeInDown 0.8s;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .header_links {
  -webkit-animation: fadeInDown 0.8s;
          animation: fadeInDown 0.8s;
}

header nav .header_links .nav_links {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .header_links .nav_links .nav_link a {
  outline: none;
  text-decoration: none;
  color: #3f3f3f;
  padding: 5px 35px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-size: 20px;
}

header nav .header_links .nav_links .nav_link a:hover {
  color: black;
}

header nav .header_links ul li .tooltip1,
header nav .header_links ul li .tooltip2,
header nav .header_links ul li .tooltip3 {
  position: absolute;
  margin-left: -108px;
  top: 0;
  height: 35px;
  width: 122px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 35px;
  color: #2f2f2f;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

header nav .header_links ul li .tooltip1:before, header nav .header_links ul li .tooltip1:after,
header nav .header_links ul li .tooltip2:before,
header nav .header_links ul li .tooltip2:after,
header nav .header_links ul li .tooltip3:before,
header nav .header_links ul li .tooltip3:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: #fd5f5f;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header .header_links ul li:hover .tooltip1,
header .header_links ul li:hover .tooltip2,
header .header_links ul li:hover .tooltip3 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  top: 6%;
}

header .header_links ul li:hover .tooltip1::after,
header .header_links ul li:hover .tooltip2::after,
header .header_links ul li:hover .tooltip3::after {
  left: 15%;
  width: 70%;
}

header .toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  border-radius: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 30px;
  -webkit-animation: opacity 2s;
          animation: opacity 2s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 1;
}

header .hamburger {
  margin-top: 15px;
  margin-left: 500px;
  top: 20px;
  right: 20px;
  border-radius: 40%;
}

header .hamburger .openMenu {
  position: absolute;
  top: 20px;
  right: -70px;
  width: 28px;
  height: 28px;
  border-radius: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 0px;
  font-size: 2rem;
}

header .hamburger .mainMenu {
  display: none;
  padding-top: 20px;
  margin-top: 70px;
  opacity: 0;
  position: absolute;
  list-style: none;
  top: 0;
  right: 50px;
  left: 50px;
  z-index: 10;
  border-radius: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bbbbbb;
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
}

header .hamburger .mainMenu li {
  padding-bottom: 20px;
}

header .hamburger .mainMenu li a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

header .hamburger .mainMenu li a:before, header .hamburger .mainMenu li a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  -webkit-transition: width 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

header .hamburger .mainMenu li a:after {
  width: 0;
  background-color: #fff;
}

header .hamburger .mainMenu li a:hover:after {
  width: 100%;
}

header .hamburger .mainMenu li.is-open li:nth-child(1) {
  -webkit-transition: all 500ms 575ms;
  transition: all 500ms 575ms;
}

header .hamburger .mainMenu li.is-open li:nth-child(2) {
  -webkit-transition: all 500ms 650ms;
  transition: all 500ms 650ms;
}

header .hamburger .mainMenu li.is-open li:nth-child(3) {
  -webkit-transition: all 500ms 725ms;
  transition: all 500ms 725ms;
}

header .hamburger .mainMenu li.is-open li:nth-child(4) {
  -webkit-transition: all 500ms 800ms;
  transition: all 500ms 800ms;
}

header .hamburger .mainMenu li.is-open li:nth-child(5) {
  -webkit-transition: all 500ms 875ms;
  transition: all 500ms 875ms;
}

header .hamburger .closeMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  border-radius: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 0px;
  font-size: 2rem;
  color: #fff;
}

.header_links ul li,
section.main ul li {
  list-style-type: none;
}

section.main {
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

section.main .container {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  border-bottom: solid 1px #afafaf;
}

section.main .container .box {
  margin-top: 17vh;
  width: 250px;
  height: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.main .container .box .title {
  margin-top: -35px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

section.main .container .box .title .block {
  width: 0%;
  height: 95px;
  background: #fd5f5f;
  position: absolute;
  -webkit-animation: mainBlock 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: mainBlock 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.main .container .box .title h1 {
  color: #3f3f3f;
  font-size: 75px;
  -webkit-animation: mainFadeIn 2s forwards;
          animation: mainFadeIn 2s forwards;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  opacity: 0;
}

section.main .container .box .title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
  color: #fd5f5f;
}

section.main .container .box .role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

section.main .container .box .role p {
  border-right: 2px solid #00000000;
  white-space: nowrap;
  line-height: 25px;
  margin-left: 0px;
  position: relative;
  overflow: hidden;
  top: 50%;
  font-weight: 600;
  font-family: "Lato";
  color: #3f3f3fb3;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

section.main .container .box img {
  opacity: 0;
  margin-left: -76px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeInUp 0.8s forwards;
          animation: fadeInUp 0.8s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-box-shadow: 0px 4px 4px #5f5f5f;
          box-shadow: 0px 4px 4px #5f5f5f;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

section.features {
  padding: 100px 0;
  color: #888888;
  border-bottom: solid 1px #afafaf;
}

section.features .container {
  width: 80%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

section.features .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

section.features .container .row .title {
  text-align: center;
  position: relative;
  z-index: 5;
}

section.features .container .row .title h3 {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fd5f5f;
}

section.features .container .row .title h2 {
  margin-bottom: 25px;
  line-height: 42px;
  text-transform: capitalize;
  position: relative;
  font-weight: 800;
  color: #2f2f2f;
}

section.features .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

section.features .container .row .feature-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

section.features .container .row .feature-box .single-feature {
  min-height: 300px;
  text-align: left;
  padding: 35px;
  background-color: #cccccc;
  border-radius: 6px;
  position: relative;
  margin-top: 30px;
  border: 1px solid #8f8f8f;
  -webkit-transition: all 0.35s ease-out 0s;
  transition: all 0.35s ease-out 0s;
}

section.features .container .row .feature-box .single-feature:hover {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.09);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.09);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

section.features .container .row .feature-box .single-feature i {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: #fd5f5f;
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0 4px 6px #0000002a;
          box-shadow: 0 4px 6px #0000002a;
  margin-bottom: 30px;
}

section.features .container .row .feature-box .single-feature h3 {
  color: #090909;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.2;
}

section.features .container .row .feature-box .single-feature p {
  line-height: 22px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  display: block;
  color: #494949;
}

section.features .container .row .feature-box .single-feature p span,
section.features .container .row .feature-box .single-feature p a {
  text-decoration: none;
  color: #0d6efd;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

section.features .container .row .feature-box .single-feature p span:hover,
section.features .container .row .feature-box .single-feature p a:hover {
  color: #052e69;
}

.row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

section.faq {
  padding-top: 100px;
  padding-bottom: 80px;
  position: relative;
}

section.faq .container {
  height: 500px;
  width: 80%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

section.faq .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

section.faq .container .row .title {
  text-align: center;
  padding: 0 300px;
  position: relative;
  z-index: 5;
}

section.faq .container .row .title h3 {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fd5f5f;
}

section.faq .container .row .title h2 {
  font-size: 34px;
  margin-bottom: 25px;
  line-height: 42px;
  text-transform: capitalize;
  position: relative;
  font-weight: 800;
  color: #2f2f2f;
}

section.faq .container .row .title p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 50px;
}

section.faq .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

section.faq .container .row .accordion .accordion-item {
  margin: 0px 250px;
  margin-bottom: 20px;
}

section.faq .container .row .accordion .accordion-item .accordion-button {
  background-color: #cccccc;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  overflow-anchor: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  display: block;
  overflow: hidden;
  border: 1px solid #454545;
  padding: 20px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
}

section.faq .container .row .accordion .accordion-item .accordion-button:not(.collapse) {
  color: #fff;
  background-color: #fd5f5f;
  border-color: transparent;
  border-radius: 8px 8px 0 0;
}

section.faq .container .row .accordion .accordion-item .accordion-button:not(.collapse) .title {
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

section.faq .container .row .accordion .accordion-item .accordion-button:not(.collapse) .title .number {
  background: #fff;
  color: #2f2f2f;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

section.faq .container .row .accordion .accordion-item .accordion-button:not(.collapse) .title i:after {
  content: "";
}

section.faq .container .row .accordion .accordion-item .accordion-button:not(.collapse) .title i:before {
  content: "\f068";
}

section.faq .container .row .accordion .accordion-item .accordion-button .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  position: relative;
  font-weight: 600;
  padding-left: 45px;
  line-height: 25px;
  color: #494949;
}

section.faq .container .row .accordion .accordion-item .accordion-button .title .number {
  color: #fd5f5f;
  background: #fff;
  height: 30px;
  width: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #454545;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section.faq .container .row .accordion .accordion-item .accordion-button .title i {
  margin-right: -310px;
}

section.faq .container .row .accordion .accordion-item .accordion-collapse {
  border: none;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

section.faq .container .row .accordion .accordion-item .accordion-collapse .accordion-body {
  background-color: #cccccc;
  width: 100%;
  border-radius: 0 0 8px 8px;
  padding: 40px;
  border-left: 1px solid #454545;
  border-right: 1px solid #454545;
  border-bottom: 1px solid #454545;
}

section.faq .container .row .accordion .accordion-item .accordion-collapse .accordion-body p {
  margin: 0;
  padding: 0;
  color: #2f2f2f;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

section.dark {
  background: #2f2f2f;
  color: #a0a0a0;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

section.dark .container .row .accordion .accordion-item .accordion-button {
  background-color: rgba(253, 95, 95, 0.06);
}

section.dark .container .row .accordion .accordion-item .accordion-button .title {
  color: #bbbbbb;
}

section.dark .container .row .accordion .accordion-item .accordion-button .title .number {
  background: #2f2f2f;
}

section.dark .container .row .accordion .accordion-item .accordion-collapse .accordion-body {
  background-color: rgba(253, 95, 95, 0.06);
}

section.dark .container .row .accordion .accordion-item .accordion-collapse .accordion-body p {
  color: #bbbbbb;
}

section.dark .header_links .nav_links .nav_link a {
  color: #a0a0a0;
}

section.dark .header_links .nav_links .nav_link a:hover {
  color: #fff;
}

section.dark .header_links ul li .tooltip1,
section.dark .header_links ul li .tooltip2,
section.dark .header_links ul li .tooltip3 {
  color: #a0a0a0;
}

section.dark .container .box .title h1 {
  color: #fff;
}

section.dark .container .box .role p {
  color: #a0a0a0;
}

section.dark .container .box img {
  -webkit-box-shadow: 0px 4px 4px #000000;
          box-shadow: 0px 4px 4px #000000;
}

section.dark .container .row .title h2 {
  color: #fff;
}

section.dark .container .row .feature-box .single-feature {
  background-color: #222222;
  border: 1px solid #454545;
}

section.dark .container .row .feature-box .single-feature h3 {
  color: #e0e0e0;
}

section.dark .container .row .feature-box .single-feature p {
  color: #a0a0a0;
}

@media only screen and (max-width: 900px) {
  header nav .header_links {
    display: none;
  }
  header nav .toggle {
    margin-right: -55px;
  }
  section.main {
    width: 100%;
  }
  section.main .container .title {
    margin-left: 50px;
  }
  section.main .container .box .role p {
    margin-left: 112.5px;
    -webkit-animation: typewriterMobile 2s steps(50) 1s normal both, blinkTextCursor 1s steps(50) infinite normal;
            animation: typewriterMobile 2s steps(50) 1s normal both, blinkTextCursor 1s steps(50) infinite normal;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
    font-size: 10px;
  }
  section.main .container .box .image img {
    height: 70%;
    margin-left: 0px;
  }
  section.features {
    height: 2350px;
  }
  section.features .container .row .title h2 {
    font-size: 28px;
  }
  section.features .container .row .feature-box {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  header nav .hamburger {
    display: none;
  }
  section.main .container .box .role p {
    -webkit-animation: typewriter 2s steps(50) 1s normal both, blinkTextCursor 1s steps(50) infinite normal;
            animation: typewriter 2s steps(50) 1s normal both, blinkTextCursor 1s steps(50) infinite normal;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  section.features {
    height: 1000px;
  }
  section.features .container .row .title {
    padding: 0 300px;
  }
  section.features .container .row .title h2 {
    font-size: 34px;
  }
  section.features .container .row .feature-box {
    width: 33.3333333333%;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #fd5f5f;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 13px;
    height: 13px;
    background: #fd5f5f;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 10px;
    height: 10px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 13px;
    height: 13px;
    bottom: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
    background: #fd5f5f;
    border: 0px solid #222;
    bottom: 0px;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #fd5f5f;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 13px;
    height: 13px;
    background: #fd5f5f;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 10px;
    height: 10px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 13px;
    height: 13px;
    bottom: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
    background: #fd5f5f;
    border: 0px solid #222;
    bottom: 0px;
  }
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 32.8em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 32.8em;
  }
}

@-webkit-keyframes typewriterMobile {
  from {
    width: 0;
  }
  to {
    width: 35.8em;
  }
}

@keyframes typewriterMobile {
  from {
    width: 0;
  }
  to {
    width: 35.8em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: #6e6e6ebf;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #6e6e6ebf;
  }
  to {
    border-right-color: transparent;
  }
}

@-webkit-keyframes imgShowUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imgShowUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */