$black-background-color: #202020;
$main-color: #fd5f5f;
$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
$highlight-color: #505050;

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700|Poppins:300,400,800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::selection {
  background-color: #fd5f5f;
  color: #fff;
}

::-moz-selection {
  background-color: #fd5f5f;
  color: #fff;
}

::-o-selection {
  background-color: #fd5f5f;
  color: #fff;
}

::-ms-selection {
  background-color: #fd5f5f;
  color: #fff;
}

::-webkit-selection {
  background-color: #fd5f5f;
  color: #fff;
}

:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

body,
html {
  background: #fff;
  color: #2f2f2f;
  font-family: Poppins;
  transition: background 0.5s;
}
section.navbar {
  transition: background 0.5s;
}

header {
  padding: 20px 40px 20px 30px;

  .logo img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    animation: fadeInDown 0.8s;
  }

  nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    .header_links {
      animation: fadeInDown 0.8s;
      .nav_links {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .nav_link {
          a {
            outline: none;
            text-decoration: none;
            color: #3f3f3f;
            padding: 5px 35px;
            transition: 0.3s all;
            font-size: 20px;
          }

          a:hover {
            color: black;
          }
        }
      }
    }

    .header_links ul li .tooltip1,
    .header_links ul li .tooltip2,
    .header_links ul li .tooltip3 {
      position: absolute;
      margin-left: -108px;
      top: 0;
      height: 35px;
      width: 122px;
      text-align: center;
      justify-content: center;
      align-items: center;
      line-height: 35px;
      color: #2f2f2f;
      transition: all 0.5s ease;
      opacity: 0;
      pointer-events: none;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        height: 2px;
        width: 0;
        background-color: $main-color;
        transition: 0.8s $ease;
      }
    }
  }

  .header_links ul li:hover .tooltip1,
  .header_links ul li:hover .tooltip2,
  .header_links ul li:hover .tooltip3 {
    transition: all 0.5s ease;
    opacity: 1;
    top: 6%;
  }

  .header_links ul li:hover .tooltip1::after,
  .header_links ul li:hover .tooltip2::after,
  .header_links ul li:hover .tooltip3::after {
    left: 15%;
    width: 70%;
  }

  .toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 30px;
    animation: opacity 2s;
    animation-delay: 0.3s;
    opacity: 1;
  }

  .hamburger {
    margin-top: 15px;
    margin-left: 500px;
    top: 20px;
    right: 20px;
    border-radius: 40%;

    .openMenu {
      position: absolute;
      top: 20px;
      right: -70px;
      width: 28px;
      height: 28px;
      border-radius: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-top: 15px;
      margin-right: 0px;
      font-size: 2rem;
    }
    .mainMenu {
      display: none;
      padding-top: 20px;
      margin-top: 70px;
      opacity: 0;
      position: absolute;
      list-style: none;
      top: 0;
      right: 50px;
      left: 50px;
      z-index: 10;
      border-radius: 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #bbbbbb;
      transition: top 1s ease;
      li {
        padding-bottom: 20px;
        a {
          display: inline-block;
          text-decoration: none;
          position: relative;
          font-weight: 300;
          text-decoration: none;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #fff;
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            height: 2px;
            transition: width 400ms $ease;
          }
          &:after {
            width: 0;
            background-color: #fff;
          }
          &:hover:after {
            width: 100%;
          }
        }

        @for $i from 1 through 5 {
          &.is-open li:nth-child(#{$i}) {
            transition: all 500ms 500ms + (75ms * $i);
          }
        }
      }
    }

    .closeMenu {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 28px;
      height: 28px;
      border-radius: 40%;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-left: 10px;
      margin-right: 0px;
      font-size: 2rem;
      color: #fff;
    }
  }
}

.header_links ul li,
section.main ul li {
  list-style-type: none;
}

section.main {
  transition: background 0.5s;

  .container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
    border-bottom: solid 1px lighten(#2f2f2f, 50%);
    .box {
      margin-top: 17vh;
      width: 250px;
      height: 250px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .title {
        margin-top: -35px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 50px;

        .block {
          width: 0%;
          height: 95px;
          background: #fd5f5f;
          position: absolute;
          animation: mainBlock 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation-delay: 0.8s;
          display: flex;
        }

        h1 {
          color: #3f3f3f;
          font-size: 75px;
          animation: mainFadeIn 2s forwards;
          animation-delay: 1.4s;
          opacity: 0;

          span {
            width: 0px;
            height: 0px;
            border-radius: 50%;
            animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
            animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
            animation-delay: 1.8s;
            margin-left: 5px;
            margin-top: -10px;
            position: absolute;
            bottom: 13px;
            right: -12px;
            color: #fd5f5f;
          }
        }
      }

      .role {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        p {
          border-right: 2px solid #00000000;
          white-space: nowrap;
          line-height: 25px;
          margin-left: 0px;
          position: relative;
          overflow: hidden;
          top: 50%;
          font-weight: 600;
          font-family: "Lato";
          color: #3f3f3fb3;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 5px;
          animation-delay: 1.8s;
        }
      }

      img {
        opacity: 0;
        margin-left: -76px;
        margin-top: 75px;
        display: flex;
        animation: fadeInUp 0.8s forwards;
        animation-delay: 4s;
        box-shadow: 0px 4px 4px #5f5f5f;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}

section.features {
  padding: 100px 0;
  color: #888888;
  border-bottom: solid 1px lighten(#2f2f2f, 50%);
  .container {
    width: 80%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) / -2);
      margin-left: calc(var(--bs-gutter-x) / -2);
      .title {
        text-align: center;
        position: relative;
        z-index: 5;
        h3 {
          font-size: 15px;
          font-weight: 600;
          display: block;
          margin-bottom: 8px;
          font-family: sans-serif;
          text-transform: uppercase;
          color: $main-color;
        }
        h2 {
          margin-bottom: 25px;
          line-height: 42px;
          text-transform: capitalize;
          position: relative;
          font-weight: 800;
          color: #2f2f2f;
        }
      }
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-right: calc(var(--bs-gutter-x) / -2);
      margin-left: calc(var(--bs-gutter-x) / -2);

      .feature-box {
        flex: 0 0 auto;

        .single-feature {
          min-height: 300px;
          text-align: left;
          padding: 35px;
          background-color: #cccccc;
          border-radius: 6px;
          position: relative;
          margin-top: 30px;
          border: 1px solid #8f8f8f;
          transition: all 0.35s ease-out 0s;

          &:hover {
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.09);
            transform: translateY(-5px);
          }

          i {
            height: 60px;
            width: 60px;
            line-height: 60px;
            text-align: center;
            display: inline-block;
            background-color: $main-color;
            color: #fff;
            font-size: 20px;
            border-radius: 7px;
            box-shadow: 0 4px 6px #0000002a;
            margin-bottom: 30px;
          }
          h3 {
            color: darken(#bbbbbb, 70%);
            display: block;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            line-height: 1.2;
          }

          p {
            line-height: 22px;
            margin: 0;
            padding: 0;
            font-size: 15px;
            display: block;
            color: lighten(#2f2f2f, 10%);
            span,
            a {
              text-decoration: none;
              color: #0d6efd;
              transition: all 0.4s ease;

              &:hover {
                color: darken(#0a58ca, 20%);
              }
            }
          }
        }
      }
    }
  }
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

section.faq {
  padding-top: 100px;
  padding-bottom: 80px;
  position: relative;

  .container {
    height: 500px;
    width: 80%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) / -2);
      margin-left: calc(var(--bs-gutter-x) / -2);

      .title {
        text-align: center;
        padding: 0 300px;
        position: relative;
        z-index: 5;
        h3 {
          font-size: 15px;
          font-weight: 600;
          display: block;
          margin-bottom: 8px;
          font-family: sans-serif;
          text-transform: uppercase;
          color: $main-color;
        }
        h2 {
          font-size: 34px;
          margin-bottom: 25px;
          line-height: 42px;
          text-transform: capitalize;
          position: relative;
          font-weight: 800;
          color: #2f2f2f;
        }

        p {
          font-size: 15px;
          line-height: 24px;
          margin-bottom: 50px;
        }
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) / -2);
      margin-left: calc(var(--bs-gutter-x) / -2);

      .accordion {
        .accordion-item {
          margin: 0px 250px;
          margin-bottom: 20px;

          .accordion-button {
            background-color: #cccccc;
            position: relative;
            align-items: center;
            text-align: left;
            overflow-anchor: none;
            cursor: pointer;
            border-radius: 8px;
            font-size: 17px;
            font-weight: 500;
            width: 100%;
            display: block;
            overflow: hidden;
            border: 1px solid #454545;
            padding: 20px;
            transition: color 0.15s ease-in-out,
              background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out, border-radius 0.15s ease;

            &:not(.collapse) {
              color: #fff;
              background-color: $main-color;
              border-color: transparent;
              border-radius: 8px 8px 0 0;

              .title {
                color: #fff;
                transition: all 0.4s ease;
                .number {
                  background: #fff;
                  color: #2f2f2f;
                  transition: all 0.4s ease;
                }

                i:after {
                  content: "";
                }
                i:before {
                  content: "\f068";
                }
              }
            }

            .title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 15px;
              position: relative;
              font-weight: 600;
              padding-left: 45px;
              line-height: 25px;
              color: lighten(#2f2f2f, 10%);

              .number {
                color: $main-color;
                background: #fff;
                height: 30px;
                width: 30px;
                line-height: 28px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid #454545;
                font-size: 14px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }

              i {
                margin-right: -310px;
              }
            }
          }

          .accordion-collapse {
            border: none;
            height: 0;
            overflow: hidden;
            transition: height 0.35s ease;
            .accordion-body {
              background-color: #cccccc;
              width: 100%;
              border-radius: 0 0 8px 8px;
              padding: 40px;
              border-left: 1px solid #454545;
              border-right: 1px solid #454545;
              border-bottom: 1px solid #454545;
              p {
                margin: 0;
                padding: 0;
                color: #2f2f2f;
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

section.dark {
  background: #2f2f2f;
  color: #a0a0a0;
  transition: background 0.5s;

  .container {
    .row {
      .accordion {
        .accordion-item {
          .accordion-button {
            background-color: rgba(253, 95, 95, 0.06);
            .title {
              color: #bbbbbb;
              .number {
                background: #2f2f2f;
              }
            }
          }

          .accordion-collapse {
            .accordion-body {
              background-color: rgba(253, 95, 95, 0.06);
              p {
                color: #bbbbbb;
              }
            }
          }
        }
      }
    }
  }
  .header_links {
    .nav_links {
      .nav_link {
        a {
          color: #a0a0a0;
        }

        a:hover {
          color: #fff;
        }
      }
    }
  }

  .header_links ul li .tooltip1,
  .header_links ul li .tooltip2,
  .header_links ul li .tooltip3 {
    color: #a0a0a0;
  }

  .container {
    .box {
      .title {
        h1 {
          color: #fff;
        }
      }

      .role {
        p {
          color: #a0a0a0;
        }
      }
      img {
        box-shadow: 0px 4px 4px #000000;
      }
    }
  }

  .container {
    .row {
      .title {
        h2 {
          color: #fff;
        }
      }
    }

    .row {
      .feature-box {
        .single-feature {
          background-color: darken(#2f2f2f, 5%);
          border: 1px solid #454545;
          h3 {
            color: lighten(#a0a0a0, 25%);
          }
          p {
            color: #a0a0a0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  header {
    nav {
      .header_links {
        display: none;
      }

      .toggle {
        margin-right: -55px;
      }
    }
  }
  section.main {
    width: 100%;
    .container {
      .title {
        margin-left: 50px;
      }
      .box {
        .role {
          p {
            margin-left: 112.5px;
            animation: typewriterMobile 2s steps(50) 1s normal both,
              blinkTextCursor 1s steps(50) infinite normal;
            animation-delay: 1.8s;
            font-size: 10px;
          }
        }

        .image {
          img {
            height: 70%;
            margin-left: 0px;
          }
        }
      }
    }
  }
  section.features {
    height: 2350px;

    .container {
      .row {
        .title {
          h2 {
            font-size: 28px;
          }
        }
      }

      .row {
        .feature-box {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  header {
    nav {
      .hamburger {
        display: none;
      }
    }
  }

  section.main {
    .container {
      .box {
        .role {
          p {
            animation: typewriter 2s steps(50) 1s normal both,
              blinkTextCursor 1s steps(50) infinite normal;
            animation-delay: 1.8s;
          }
        }
      }
    }
  }
  section.features {
    height: 1000px;

    .container {
      .row {
        .title {
          padding: 0 300px;

          h2 {
            font-size: 34px;
          }
        }
      }

      .row {
        .feature-box {
          width: 33.3333333333%;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #fd5f5f;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 13px;
    height: 13px;
    background: #fd5f5f;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 10px;
    height: 10px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 13px;
    height: 13px;
    bottom: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
    background: #fd5f5f;
    border: 0px solid #222;
    bottom: 0px;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 32.8em;
  }
}

@keyframes typewriterMobile {
  from {
    width: 0;
  }
  to {
    width: 35.8em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #6e6e6ebf;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes imgShowUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
